
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: "Open Sans", sans-serif;;
    font-weight: 300;
}

/* =-=-=-=-=-=-= Typography =-=-=-=-=-=-= */

h1 {
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

p {
    margin: 0 0 10px 0;
}
p img {
    margin: 0;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}

/* =-=-=-=-=-=-= Global Style =-=-=-=-=-=-= */

.section-padding {
    padding: 40px 0;
}


.section-title {
    font-size: 35px;
    line-height: 30px;
    color: #000;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.sub-title {
    margin: 0;
    color: #000;
    line-height: 25px;
}


.no-padding {
    padding: 0;
}
.row-content {
    margin-top: 20px;
}

blockquote {
    text-align: left;
    border: 0;
}

blockquote p:before {
    content: '"'; }
blockquote p:after {
    content: '"'; }
blockquote p {
    display: inline;
}

/* Form Style
/* ------------------------------ */
.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 60px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #202020;
    border-radius: 0;
}
.form-control:focus {
    border-color: #ff2a40;
}

/* =-=-=-=-=-=-= Navigation =-=-=-=-=-=-= */

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}


@media(min-width:768px) {
    body {
        padding-top: 100px; 
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

/* =-=-=-=-=-=-= Footer Section =-=-=-=-=-=-= */

.footer-section {
    padding: 75px 0;
    background-color: #ccc;
    color: #fff;
    position: relative;
}

.backToTop i{
    font-size: 70px;
    line-height: 85px;
    background: #fff;
    color: #000;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    border: 5px solid #000;
    border-radius: 40%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.backToTop i:hover{
    background: #fff;
    color: #000;
    border: 5px solid #ccc;
}

.footer-section p{
    font-size: 16px;
    line-height: 30px;
    color: #000;
}

.footer-logo p{
    margin-bottom: 26px;
}

.footer-logo p span{
    color: #ff2a40;
    font-weight: 600;
}
.copyright {
    margin-top: 25px;
}
.copyright p {
    margin: 0;
    font-weight: 400;
}

.social-icon ul li a i{
    font-size: 24px;
    line-height: 50px;
    color: #000;
    width: 50px;
    height: 50px;
    border: 1px solid $redClr;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.social-icon ul li a i:hover{
    color: #000000;
    border: 1px solid #000;
}

/* -=-=-=-=-=-=-=-= FONTS =-=-=-=-=-=-=-=-=- */



/* ==========================================================================
   Helper classes
   ========================================================================== */


.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

